<?xml version="1.0"?>
<launch>

    <arg name="id" default="1" />
    <arg name="output" default="log" />

    <!-- Swarm kinematics exchanging node -->
    <node pkg="swarm_kinematics_exchanger" type="swarm_kinematics_exchanger" name="swarm_kinematics_exchanger_$(arg id)" output="$(arg output)" required="true">
        <rosparam file="$(find swarm_kinematics_exchanger)/param/swarm_kinematics_exchanger.yaml" command="load" />
    </node>

</launch>
