<?xml version="1.0"?>
<launch>

    <arg name="id" default="1" />
    <arg name="output" default="log" />

    <!-- Collision avoidance between swarm members -->
    <node pkg="collision_avoidance" type="collision_avoidance" name="collision_avoidance_$(arg id)" output="$(arg output)" required="true">
        <rosparam file="$(find collision_avoidance)/param/collision_avoidance.yaml" command="load" />
    </node>

</launch>
