<?xml version="1.0"?>
<launch>

    <arg name="id" default="1" />
    <arg name="output" default="log" />

    <!-- Distributed ROI assignment -->
    <node pkg="roi_assignment" type="roi_assignment" name="roi_assignment_$(arg id)" output="$(arg output)" required="true">
        <rosparam file="$(find roi_assignment)/param/roi_assignment.yaml" command="load" />
    </node>

</launch>
