<?xml version="1.0"?>
<launch>
	<arg name="id" default="1" />
	<arg name="log_output" default="screen" />
	
	<!-- Assign Task Action NODE -->
	<node pkg="assign_task" name="assign_task_$(arg id)" type="assign_task_action" output="$(arg log_output)">
		<rosparam command="load" file="$(find assign_task)/param/assign_task_params.yaml" />
	</node>

</launch>
