<?xml version="1.0"?>
<launch>
	<arg name="id" default="1" />
	<arg name="log_output" default="screen" />
	
	<!-- ComputeCost Action Server NODE -->
	<node pkg="compute_cost" name="compute_cost_$(arg id)" type="compute_cost_action" output="$(arg log_output)">
		<rosparam command="load" file="$(find compute_cost)/param/compute_cost_params.yaml" />
	</node>

</launch>
